<h1 class="login__title">Регистрация</h1>
<form [formGroup]="registerForm" (ngSubmit)="submitDetails()">
  <p-card [style]="{ width: '360px' }">
    <img class="login__logo" src="../../../assets/svg/Logo.svg" alt="Logo">
    <div class="field">
      <input
        type="text"
        pInputText
        formControlName="username"
        class="w-full"
        name="username"
        placeholder="Имя пользователя"
        />
      <small
        *ngIf="username.invalid && (username.dirty || username.touched)"
        class="block p-error"
      >
        <div *ngIf="username.errors?.['required']">username is required.</div>
      </small>
    </div>

    <div class="field">
        <input
        type="password"
        pInputText
        formControlName="password"
        class="w-full"
        name="password"
        placeholder="Пароль"
        />
        <small
          *ngIf="password.invalid && (password.dirty || password.touched)"
          class="block p-error"
        >
          <div *ngIf="password.errors?.['required']">Password is required.</div>
        </small>
    </div>
    <p-button
      severity="danger"
      label="Далее"
      styleClass="w-full"
      [disabled]="registerForm.invalid"
      type="submit"
    ></p-button>
    <div class="mt-2 login__problems">
      <p>У вас уже есть аккаунт?</p>
      <a class="login__problems__link" routerLink="/login">Войти</a>
    </div>
  </p-card>
</form>
